@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    text-decoration: none;
}

header{
margin-top: 47px;
margin-left: 42px;

}
.link-menu{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: black;
    margin-right: 32px;
    cursor: pointer;
}

button{
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4cb838;
    background: #6FBF44;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

img{
    margin: 163px 0 0 40px;
    display: inline-block;
}

div{
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #4b505a;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 55px;
   
}

.link-pagina{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}